Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

# New Section

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data)
df=pd.DataFrame(data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

**3.** Return the first 3 rows of the DataFrame `df`.

In [14]:
df.iloc[[0,1,2,]]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**4.** Display the 'animal' and 'age' columns from the DataFrame `df`

In [22]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**5.** Display the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']'

In [34]:
df.loc[['c','d','h'],
            ["animal", "age"]]

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

**6.** Select only the rows where the number of visits is greater than 3.

In [50]:
df.loc[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

In [53]:

df.loc[df['age'] =='NaN']

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [67]:

df.loc[(df['age'] <3) & (df['animal'] == 'cat')]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**9.** Select the rows where the age is between 2 and 4 (inclusive)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [65]:

df.loc[(df['age'] >= 2) & (df['age'] <=4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**10.** Change the age in row 'f' to 1.5.

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

**12.** Calculate the mean age for each different animal in `df`.

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

**14.** Count the number of each type of animal in `df`.

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

**18.** Load the ny-flights dataset to Python

**19.** Which airline ID is present maximum times in the dataset

**20.** Draw a plot between dep_delay and arr_delay